<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  method="POST" >
        {{ form.hidden_tag() }}
        <table border = "0" cellspacing=20%>

               <tr>
                  <th>{{ form.var1.label }}</th>
                  <td>  :  </td>
                  <td>{{ form.var1 }}</td>
               </tr>
               <tr>
                  <th>{{ form.var2.label }}</th>
                  <td>  :  </td>
                  <td>{{ form.var2 }}</td>
               </tr>
               </table>

          <br>
          <br>
             {{ form.submit() }}
        </form>
  </body>
</html>
